@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: content-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container__wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.title {
  padding: 70px 0 30px;
  text-align: center;
}

.form {
  width: 360px;
  padding: 10px 5px;
  border: 1px solid #d5d3d3;
  border-radius: 10px;
  box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 285px;
}

.form__title {}

.title__h2 {
  text-align: center;
}

.form__label {
  display: block;
  padding-bottom: 5px;
}

.form__input {
  margin-bottom: 30px;
  padding: 3px;
  width: 130px;
  text-align: center;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

.form__input:last-child {
  margin-bottom: 30px;
}

.form__submit {
  display: block;
  margin: 0 auto;
}

.answer {
  width: 360px;
  border: 1px solid #d5d3d3;
  border-radius: 10px;
  box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.2);
  padding: 30px 5px;
}

/* .country__header {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.country__flag {
  max-width: 150px;
  max-height: 100px;
}

.country__name {}

.country__body {
  padding: 0 20px;
}

.country__footer {
  display: flex;
  justify-content: center;
}

.country-back {
  display: block;
}

.country__text {} */

.error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.error__title {
  text-align: center;
}

.start-message {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.start-message__title {
  text-align: center;
}

.place {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.place__title {
  text-align: center;
}

.place__footer {
  display: flex;
  justify-content: center;
}

.country__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country__flag {
  max-height: 150px;
}

.country__row {
  display: flex;
  gap: 10px;
  padding: 0px 25px 15px;
}

.country__sticker {
  display: block;
}

.country__text {
  display: block;
}

.sticker-lang {
  padding-right: 7px;
}

.button {
  display: block;
  padding: 7px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #0a8b2a;
  color: #fff;
}

.country__footer {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.hidden {
  display: none;
}